* {
    margin: 0px;
    padding: 0px;
}

.header-container {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.flower-image {
    width: 400px;
    height: 600px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.rose {
    margin-top: 90px;
}

.shop-intro {
    width: 50%;

}

.shop-heading {
    color: #272727;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.btn1 {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background: #E55473;
    color: white;
    border: 0px;

}

.text-small {
    font-size: small;
}

/* Our Featured Flower Section */
.featured-flowers {
    height: 100vh;
}

.feat-heading {
    margin-top: 20vh;
    text-align: center;
    font-size: 20px;
}

.feat-flowers-img-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    margin-top: 50px;
}

.feat-flowers-img-container p {
    text-align: center;
    margin-top: 5px;

}

.pink-flower {
    position: relative;
    width: 210px;
    height: 328px;
    background-color: rgba(167, 33, 98, 0.15);
    text-align: center;
    border-radius: 300px 300px 0px 0px;
}

.pink-flower-img {
    position: relative;
    margin-top: 40px;


}
.flower-bouquet{
    position: relative;
    width: 210px;
    height: 328px;
    background-color: rgba(5, 151, 160, 0.15);
    text-align: center;
    border-radius: 300px 300px 0px 0px;
}
.flower-bouquet-img{
    position: relative;
    margin-top: 120px; 
}



.yellow-flower {
    position: relative;
    width: 210px;
    height: 328px;
    background-color: rgba(71, 125, 17, 0.15);
    text-align: center;
    border-radius: 300px 300px 0px 0px;
}
.yellow-flower-img{
    position: relative;
    margin-top: 15px;
}